@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>CampaignBuilder is an unofficial web-based front end designed to assist in generating files compatible with Lion's Den Inc.'s <a href="https://itunes.apple.com/us/app/game-master-5th-edition/id908176026?mt=8">Game Master 5th Edition</a> iPad app.</p>
<p>CampaignBuilder is created and maintained by Benjamin Hall. All content &copy; Benjamin Hall, 2017 except where marked.</p>
